#SymLinks: Uncomment line below if you want to enable symlinks
#Options +FollowSymLinks

#Index Listing: Uncomment line below if you want to disable directory listing
#Options -Indexes

# IMPORTANT STUFF YOU MIGHT NOT WANT TO TOUCH
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php