# Follows SymLinks, so we don't rewrite SymLinks
Options +FollowSymLinks

# Disables Directory Listing
Options -Indexes

# Rewrite Rules
<IfModule mod_rewrite.c>

	RewriteEngine On
	
	# If you plan to use NU-Engine under a subdirectory,
	# then you should change this to point to that subdirectory.
	RewriteBase /
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !(.*)/$
	RewriteRule ^(.*)$ $1/ [L,R=301] 
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php [L] 

</IfModule>